<p-toast></p-toast>
<div class="row card shadow-sm bg-white px-3 mx-0 mb-3">
    <div class="col-12 mb-2 text-primary">
        <!-- <h6 class="mb-0">Business Group Master</h6>border-bottom -->
    </div>
    <form autocomplete="off" [formGroup]="businesssgrupform">

        <div class="row">
            <!-- <label for="inputText1" class="col-md-5 col-lg-3 col-xl-auto col-form-label">Businees Group Code<span
                    class="required-asterisk">*</span></label> -->
            <div class="inputText col-md-6 col-lg-3 col-xl-3 mb-2">
                <div class="form-floating form-floating-outline">
                    <!-- <input type="text" class="p-inputtext-sm w-100" placeholder="Businees Group Code" pInputText
           formControlName="bgnamecontroller" [(ngModel)]="materialcodeNgModel" required> -->
                    <input type="text" class="form-control w-100" placeholder="" pInputText
                        formControlName="bgnamecontroller" required>
                    <label for="inputText4" class="">Businees Group Code<span class="required-asterisk">*</span></label>
                    <small style="color: red;"
                        *ngIf="businesssgrupform.get('bgnamecontroller').hasError('required') && (businesssgrupform.get('bgnamecontroller').touched || businesssgrupform.get('bgnamecontroller').dirty)">
                        Bussiness Group Code Required.
                    </small>
                </div>
            </div>

            <!-- <label for="inputText2" class="col-md-5 col-lg-3 col-xl-auto col-form-label">Businees Group Name<span
                    class="required-asterisk">*</span></label> -->
            <div class="inputText col-md-6 col-lg-3 col-xl-3 mb-2">
                <div class="form-floating form-floating-outline">
                    <!-- <input type="text" class="p-inputtext-sm w-100" placeholder="Businees Group Name" pInputText
           formControlName="bgcodecontroller" [(ngModel)]="materialnameNgModel" required> -->
                    <input type="text" class="form-control w-100" placeholder="" pInputText
                        formControlName="bgcodecontroller" required>
                    <label for="inputText4" class="">Businees Group Name<span class="required-asterisk">*</span></label>
                    <small style="color: red;"
                        *ngIf="businesssgrupform.get('bgcodecontroller').hasError('required') && (businesssgrupform.get('bgcodecontroller').touched || businesssgrupform.get('bgcodecontroller').dirty)">
                        Bussiness Group Name Required.
                    </small>
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            <button pButton pRipple type="button" *ngIf="onadd" (click)="creatematerial()" label=""
                class="btn-light btn-primary p-button-info p-button-sm mx-1 py-2"><i class="bx bx-plus"></i></button>
            <button pButton pRipple type="button" *ngIf="oneditbtn" (click)="updatematerial()" label=""
                class="btn-light btn-primary p-button-info p-button-sm mx-1 py-2"><span
                    class="fadeIn animated bx bx-reset"></span></button>
            <button pButton pRipple type="button" *ngIf="oncancel" (click)="cancel()" label=""
                class="p-button-secondary button-sm mx-1 py-2"><span
                    class="fadeIn animated bx bx-reset"></span></button>
        </div>

    </form>

    <div class="col-12">
        <p-table #dt [value]="products" dataKey="id"
            styleClass="p-datatable-products p-datatable-sm p-datatable-gridlines" [rowHover]="true" [rows]="5"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,20]" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['BG_CODE','BG_NAME']">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="globalSearch p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            class="p-inputtext-sm" placeholder="Global Search" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>                    
                    <th pSortableColumn="BG_CODE">Businees Group Code <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="BG_NAME">Businees Group Name <p-sortIcon field="country.name"></p-sortIcon></th>                    
                    <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr class="p-selectable-row">
                    <td>
                        <span class="p-column-title">>Businees Group CODE</span>
                        {{product.BG_CODE}}
                    </td>
                    <td>
                        <span class="p-column-title">Businees Group Name</span>
                        <span class="image-text">{{product.BG_NAME
                            }}</span>
                    </td>
                    <td>
                        <!-- <button pButton type="button" icon="pi pi-pencil" (click)="oneditbusinessGrp(product)"
                            iconPos="left"
                            class="w-2rem h-2rem p-button-rounded p-button-outlined p-button-secondary mr-2"></button>

                        <button pButton pRipple icon="pi pi-trash" (click)="businessGrpDelete(product)" iconPos="left"
                            class="w-2rem h-2rem p-button-rounded p-button-outlined p-button-secondary"></button> -->
                        <i class="pi pi-pencil" (click)="oneditbusinessGrp(product)"></i>&nbsp;&nbsp;
                        <i class="pi pi-trash" (click)="businessGrpDelete(product)"></i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No products found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>