.position-relative:hover + .translate-middle {
  display: block;
}

.position-absolute:hover {
  display: inline-block;
}

#sidebar-wrapper {
  margin-left: -200px;
  left: 57px;
  width: 200px;
  background: #ffff;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-content-wrapper {
  width: 100%;
}

#wrapper.active #sidebar-wrapper {
  left: 185px;
}

/* #sidebar_menu li a, */
.sidebar-nav li a {
  display: block;
  float: left;
  text-decoration: none;
  width: 200px;
  background: #ffff;
  /* background: linear-gradient(to left, #00609e 50%, #00609e 50%) right; */
  background-size: 60%;
  transition: 0.2s ease-out;
}

.collapse .sidebar-nav li a {
  width: 180px;
}

.sidebar-nav li a:hover {
  width: 200px;
}

.sidebar-nav li a:hover {
  background-position: left;
}

.position-absolute .sidebar-nav {
  width: 164px;
}

.sidebar_name {
  padding-top: 25px;
  opacity: 0.7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #00609e;
  display: block;
  text-decoration: none;
  padding: 0.4rem 0rem;
}

.sidebar-nav li a:hover {
  color: #00609e;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
}

#sub_icon {
  float: right;
  padding-right: 21px;
  padding-top: 10px;
  color: #00609e;
}

#sub_icon2 {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
  color: #00609e;
}

.mt-34 {
  margin-top: 4.4rem !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas.offcanvas-start {
  width: 200px;
}

/* ::ng-deep .p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
  color: #ffff;
} */

::ng-deep .p-sidebar .p-sidebar-header {
  padding: 0rem 0.6rem;
  margin-top: 4.5rem;
}

::ng-deep .p-sidebar .p-sidebar-content {
  padding: 0rem;
}

/* ::ng-deep .p-sidebar .p-sidebar-header {
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
} */

::ng-deep .p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
  display: none;
}

::ng-deep .p-panelmenu .p-panelmenu-header-link {
  justify-content: space-between;
  flex-direction: row-reverse;
}

::ng-deep .p-panelmenu .p-panelmenu-header > a {
  padding: 0.8rem 0.8rem 0.8rem 2rem;
  border-radius: 0;
  font-weight: 500;
  font-size: 0.8rem;
  color: #ffff;
}

::ng-deep .p-panelmenu .p-panelmenu-header > a .active {
  border: solid;
}

::ng-deep
  .p-panelmenu
  .p-panelmenu-header:not(.p-highlight):not(.p-disabled)
  > a:hover {
  background: #dee2e6;
  border-color: #dee2e6;
}

::ng-deep .p-panelmenu .p-panelmenu-header > a:focus {
  box-shadow: none;
  /* border-left-width: 6px !important;
      border-left-style: solid;
      border-left-color: #2c6149 !important; */
  border-radius: 0;
  /* box-shadow: 0px 3px 5px rgb(0 0 0 / 2%), 0px 0px 2px rgb(0 0 0 / 5%),
        0px 1px 4px rgb(0 0 0 / 8%) !important; */
}

::ng-deep .p-panelmenu .p-panelmenu-panel {
  margin-bottom: 0px;
}

::ng-deep .p-panelmenu .p-panelmenu-header > a {
  background: #ffff;
  color: #00609e;
  border: none;
}

::ng-deep .p-panelmenu-panel:nth-child(2) .p-panelmenu-content {
  height: 400px;
  overflow-x: hidden;
}

::ng-deep ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #666;
}

::ng-deep .p-dialog .p-dialog-header {
  padding: 0.5rem 1.5rem;
}

::ng-deep .p-card .p-card-content {
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  /* remove the gap so it doesn't close */
}

.dropdown[_ngcontent-hrk-c111]:hover .dropdown-menu[_ngcontent-hrk-c111] {
  display: block;
  margin-top: 0;
}

.w-7rem {
  width: 7rem !important;
}

.w-7rem {
  width: 7rem !important;
}

.dropdown-menu-start {
  --bs-position: start;
}

.dropdown-menu {
  --bs-dropdown-min-width: 7rem;
}

::ng-deep .p-inputtext-sm .p-inputtext {
  font-size: 1rem;
  padding: 0.45625rem 0.45625rem !important;
}
::ng-deep .inputText .p-inputtext-sm {
  font-size: 0.8rem !important;
  padding: 0.45625rem 0.45625rem !important;
}
::ng-deep .globalSearch .p-inputtext-sm {
  font-size: 0.8rem !important;
  padding: 0.45625rem 2rem !important;
}
::ng-deep .globalSearch .pi {
  padding-top: 0.2rem;
}
::ng-deep .p-multiselect .p-multiselect-label {
  font-size: 0.8rem;
  padding: 0.45625rem 0.45625rem;
}
::ng-deep .p-button.p-button-icon-only {
  height: 2.2rem !important;
}
::ng-deep .p-calendar-w-btn .p-inputtext {
  font-size: 0.8rem;
}
::ng-deep .p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.35625rem 0.99375rem;
}
::ng-deep .p-datatable-sm .p-datatable-thead > tr > th {
  font-size: 0.8rem !important;
}
::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  font-size: 0.8rem;
}
::ng-deep .pi {
  font-size: 0.8rem;
}
::ng-deep .p-inputtext {
  padding: 0.2rem 0.75rem;
}
::ng-deep .p-paginator .p-dropdown {
  height: 2rem;
}
::ng-deep .p-paginator-current {
  font-size: 0.8rem;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem;
  height: 2rem;
}
::ng-deep .p-menuitem-link {
  justify-content: space-between;
  flex-direction: row-reverse;
}
::ng-deep th {
  font-size: 0.8rem !important;
}
/* ::ng-deep .w-2rem {
  width: 1.3rem !important;
} */
::ng-deep .w-2rem .pi {
  font-size: 0.65em !important;
}
::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  padding: 0.6rem 0.8rem 0.6rem 2rem;
  font-size: 0.8rem !important;
}

/* ::ng-deep .c2 {
  margin-left: 2rem !important;
} */

@media (min-width: 768px) {
  :host ::ng-deep .offcanvas-backdrop.show {
    opacity: 0 !important;
  }
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 50px;
    transition: all 0.4s ease 0s;
    height: 100%;
  }

  #wrapper.active {
    padding-left: 180px;
  }
}

@media (max-width: 768px) {
  #wrapper {
    /* padding-left: 70px; */
    transition: all 0.4s ease 0s;
    height: 100%;
  }
}
  .dropdown-menu-full-width {
    width: 100%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    text-align:center;
    z-index: 9;
 }

