<p-toast></p-toast>
<div class="row card shadow-sm bg-white px-3 mx-0 mb-3">
    <div class="col-12 mb-2 text-primary">
        <!-- <h6 class="mb-0">Upload Benpos File</h6> -->
    </div>
    <form autocomplete="off" [formGroup]="uploadBenposform">

        <div class="row">
            <div class="col-md-7 col-lg-4 col-xl-3 mb-2">
                <div class="form-floating form-floating-outline">
                    <p-calendar class="ui-timepicker ui-widget-header ui-corner-all ng-tns-c9-1 ng-star-inserted"
                        [showIcon]="true" inputId="icon" class="border-0 form-control p-0 calendarIcon"
                        styleClass="w-100" placeholder="" [(ngModel)]="uploaddate"
                        formControlName="uploadtypecontroller"
                        [maxDate]="maxDate" required></p-calendar>
                    <label for="">Upload Date<span class="required-asterisk">*</span></label>
                    <small style="color: red;"
                        *ngIf="uploadBenposform.get('uploadtypecontroller').hasError('required') && (uploadBenposform.get('uploadtypecontroller').touched || uploadBenposform.get('uploadtypecontroller').dirty)">
                        Upload Date Required.
                    </small>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12 md:col-6 lg:col-3">
            <!-- <input class="form-control" type="file" id="formFile" [value]="selectedFileName" readonly
                (click)="fileInput.click()">
                <input type="file" #fileInput (change)="fileSelected($event)" style="display: none"> -->
            <input class="form-control" type="file" id="formFile" [value]="selectedFileName"
                (change)="fileSelected($event)">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8 fv-plugins-icon-container">
            <button type="button" maxFileSize="5242880" class="btn btn-info waves-effect waves-light mx-1"
                (click)="uploadFile()" [disabled]="loading"><i class="bx bx-upload me-2"></i>{{loading ? 'Processing...'
                : 'Upload'}}</button>
            <button type="button" class="btn btn-secondary waves-effect waves-light mx-1" (click)="downloadSample()"><i
                    class="bx bx-file me-2"></i>Sample Data</button>
            <button type="button" class="btn btn-danger waves-effect waves-light mx-1" (click)="latestdataDownload()"><i
                    class="bx bx-arrow-to-right me-2"></i>Latest Data</button>
        </div>
    </div>
    <br>


</div>