<div class="row card  bg-white px-3 mx-0 mb-3">
    <div class="col-12 px-1 mb-2 text-primary">
        <!-- <h5 class="mb-0">Joining Declaration</h5> -->
    </div>
    <!-- <div class="bg-white px-3 pt-2 pb-1 mb-1"> -->
    <div class="row justify-content-between">
        <!-- <div class="col-auto">
                <h6><span class="fw-bold">Employee Name:</span>{{employeeData.FIRSTNAME}}</h6>
            </div> -->
        <div class="col-auto  inline-flex">
            <p class="mb-0 pr-2">Employee Name:</p>
            <p class="font-bold mb-0">{{employeeData.FIRSTNAME}}</p>
        </div>
        <!-- <div class="col-auto">
                <h6><span class="fw-bold">Employee ID:</span>{{employeeData.EMPNO}}</h6>
            </div> -->
        <div class="col-auto  inline-flex">
            <p class="mb-0 pr-2">Employee ID:</p>
            <p class="font-bold mb-0">{{employeeData.EMPNO}}</p>
        </div>
        <!-- <div class="col-auto">
                <h6><span class="fw-bold">Department:</span>{{employeeData.DEPARTMENT}}</h6>
            </div> -->
        <div class="col-auto  inline-flex">
            <p class="mb-0 pr-2">Department:</p>
            <p class="font-bold mb-0">{{employeeData.DEPARTMENT}}</p>
        </div>
        <!-- <div class="col-auto">
                <h6><span class="fw-bold">PAN:</span>{{employeeData.PANCARDNO}}</h6>
            </div> -->
        <div class="col-auto  inline-flex">
            <p class="mb-0 pr-2">PAN:</p>
            <p class="font-bold mb-0">{{employeeData.PANCARDNO}}</p>
        </div>
    </div>
    <!-- </div> -->

    <div class="panel-body" style="background-color: white; text-align: justify; padding: 20px">
        <div class="row">
            <div class="classpara" style="text-align: center; font-size: medium;">
                <b>Declaration cum Undertaking</b>
            </div>
        </div>

        <div class="row">
            <div class="classpara" style="height: 10px">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="classpara" style="text-align: justify">
                1. I have received the Nuvama Code for Trading in Other than Nuvama Wealth Management Limited (Non NWML)
                Securities and the Code of Conduct for the Employees of the Group for dealing in securities of NWML and
                have
                read and understood the same and I undertake to abide by the same.
            </div>

            <div class="classpara" style="text-align: justify">
                1. I have received the Nuvama Code for Trading in Other than Nuvama Wealth Management Limited (Non NWML)
                Securities and the Code of Conduct for the Employees of the Group for dealing in securities of NWML and
                have
                read and understood the same and I undertake to abide by the same. </div>
        </div>

        <div class="classpara" style="text-align: justify">
            2. I have read and understood the Securities and Exchange Board of India (Prohibition of Insider Trading)
            Regulations, 2015 and do confirm & declare that I shall not contravene the same in any manner whatsoever.
        </div>


        <div class="classpara" style="text-align: justify">
            3. In case I have access to or receive any “Unpublished Price Sensitive Information” before the execution of
            the
            transaction, I shall inform the Compliance Officer of the change in my position and I shall completely
            refrain
            from dealing in the Securities of the Client Company and / or NWML Securities as applicable, till the time
            such
            information becomes public.</div>
        <div class="classpara" style="text-align: justify">
            4. I have made a full and true disclosure regarding trading accounts and share-holdings in my name and in
            the
            name of my Immediate Relatives, and my / their Connected Persons. I further confirm that other than as
            declared
            above, I have no other Immediate Relatives or my / their Connected Persons, who are financially dependent on
            me
            or who consult me in taking decisions relating to trading in securities.</div>
        <div class="classpara" style="text-align: justify">
            4. I shall undertake to make full and true disclosure regarding trading accounts and share-holdings in my
            name
            and in the name of my Immediate Relatives, and my / their Connected Persons. I further confirm that other
            than
            as declared, I have no other Immediate Relatives or my / their Connected Persons, who are financially
            dependent
            on me or who consult me in taking decisions relating to trading in securities.</div>
        <div class="classpara" style="text-align: justify">
            5. I undertake to obtain prior clearance from the Compliance Officer for trades I may execute in my account,
            my
            Immediate Relatives’ account and in account of my / their Connected Persons, as per the pre-clearance
            requirement under the Code of the Company. I undertake to submit duly signed Investment Request Form to the
            Compliance Officer for approval before placing any order(s) in the Securities Market, if required.</div>
        <div class="classpara" style="text-align: justify">
            6. I undertake to adhere with the minimum holding/contra trade period requirement of the Code.</div>
        <div class="classpara" style="text-align: justify">
            7. I undertake to adhere to the provisions of SEBI (Research Analysts) Regulations, 2014 for trading in
            securities of any listed company for which the research report is prepared or published by me. (Applicable
            to
            Research Analyst only).</div>
        <div class="classpara" style="text-align: justify">
            8. I further undertake not to pass on any unpublished price sensitive information directly or indirectly to
            any
            persons or by way of making a recommendation for the purchase or sell of securities. I also undertake not to
            use
            unpublished price sensitive information to buy or sell securities of any sort, whether for my own account,
            my
            Immediate Relatives’ account, and in the account of my / their Connected Persons.</div>
        <div class="classpara" style="text-align: justify">
            9. I indemnify the Nuvama Group companies and will continue to keep Nuvama Group companies indemnified
            against
            any regulatory action initiated against any of the Companies in the Group on account of my contravention of
            the
            rules/regulations and guidelines issued by regulatory agencies.</div>
        <div class="classpara" style="text-align: justify">
            10. I undertake that I, my Immediate Relatives and my / their Connected Persons, shall trade only through
            ESL or
            EBL. </div>


        <!-- Repeat the same pattern for the other sections -->

        <br />

        <div class="row">
            <div class="classpara" style="text-align: center">
                <button pButton pRipple type="button" (click)="onAccept()" label="I Accept & Next"
                    class="p-button-info p-button-sm mx-2"></button>

                <!-- <button class="btn btn-info" (click)="onAccept()">I Accept & Next</button> -->
            </div>
        </div>
    </div>

</div>